<html>
<head>
	<link rel=stylesheet href="{{url_for('static',filename='tyylit.css')}}">
</head>
<body style="background-color:rgb(36, 75, 101);">

	<h1>Tähän nimi</h1>
	<form method=GET action=vastaus>
		<input type=text name="nimi">
		<input type=submit value="Paina minua">
	</form> 
<br>
tai
</br>
<br>
</body>
 
	<br>
	<h1> Tästä voit voittaa rahaa! </h1>
	<img src="/static/CASINO.png"></img>
	<form methon=GET action=bigwin>
		<input type=text name ="massi">
		<input type=submit value="Kokeile onneasi">
	</form>
	</br>

</body>
</html>
